@font-face
{
    font-family: 'boxicons';
    font-weight: normal;
    font-style: normal;

    src: url('./boxicons.eot');
    src: url('./boxicons.eot') format('embedded-opentype'),
    url('./boxicons.woff2') format('woff2'),
    url('./boxicons.woff') format('woff'),
    url('./boxicons.ttf') format('truetype'),
    url('./boxicons.svg?#boxicons') format('svg');
}
